language: node_js
dist: trusty
nodejs:
  - 8.9.1
sudo: required

addons:
  chrome: stable

#before_install:
#  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost:3000

before_script:
  - yarn run start:ci
#  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost:3000

install:
  - yarn

script:
  - yarn test
